<a href="https://colab.research.google.com/github/nhatduong01/SQL_on_BigQuery/blob/main/Basis/StackOverFlow_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Working with the `stackoverflow` dataset.

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [2]:
# Set up the Project Environment
import os
os.environ["GCLOUD_PROJECT"] = "BigQuerySQLExercises"

In [3]:
from google.cloud import bigquery
import pandas as pd


client = bigquery.Client()

data_ref = client.dataset(dataset_id= 'stackoverflow',
                          project = "bigquery-public-data")
dataset = client.get_dataset(data_ref)
tables = list(client.list_tables(dataset))
# See all the table ids in the table_list
for table in tables:
  print(table.table_id)

badges
comments
post_history
post_links
posts_answers
posts_moderator_nomination
posts_orphaned_tag_wiki
posts_privilege_wiki
posts_questions
posts_tag_wiki
posts_tag_wiki_excerpt
posts_wiki_placeholder
stackoverflow_posts
tags
users
votes

In [ ]:
# get the post_questions table
table_ref = dataset.table('posts_questions')
questions_table = client.get_table(table_ref)
# print few lines
client.list_rows(questions_table, max_results= 5).to_dataframe()

         id  ... view_count
0  67757982  ...          1
1  67472359  ...          2
2  67485809  ...          2
3  67514172  ...          2
4  67570205  ...          2

[5 rows x 20 columns]

In [ ]:
# get the post_answer table
table_ref = dataset.table('posts_answers')
answers_table = client.get_table(table_ref)
# print few lines
client.list_rows(answers_table, max_results= 5).to_dataframe()

         id title  ...  tags view_count
0  67154495  None  ...  None       None
1  67154892  None  ...  None       None
2  67155332  None  ...  None       None
3  67156330  None  ...  None       None
4  67156874  None  ...  None       None

[5 rows x 20 columns]

### 1) Choose the right answer:
we will write a query that selects the `id`, `title` and `owner_user_id` columns from the `posts_questions` table. 
- Restrict the results to rows that contain the word "bigquery" in the `tags` column. 
- Include rows where there is other text in addition to the word "bigquery" (e.g., if a row has a tag "bigquery-sql", the results should include that too).

In [ ]:
query1 = """
         SELECT id, title, owner_user_id
         FROM `bigquery-public-data.stackoverflow.posts_questions`
         WHERE tags LIKE '%bigquery%'"""
query_job1 = client.query(query1, project = 'bigquerysqlexercises')
bigquery_questions = query_job1.to_dataframe()
bigquery_questions

             id  ... owner_user_id
0      67594503  ...    13938163.0
1      67757483  ...    14128359.0
2      67638357  ...    13450264.0
3      67752915  ...    14444816.0
4      67529732  ...    10144000.0
...         ...  ...           ...
17096  52169443  ...           NaN
17097  52385444  ...           NaN
17098  66039840  ...           NaN
17099  59197388  ...           NaN
17100  59247685  ...           NaN

[17101 rows x 3 columns]

### 2) Join questions and answers:

We will write a query that returns the `id`, `body` and `owner_user_id` columns from the `posts_answers` table for answers to "bigquery"-related questions.

In [ ]:
query2 = """
            SELECT answer.id, answer.body, answer.owner_user_id
            FROM `bigquery-public-data.stackoverflow.posts_answers` AS answer
            INNER JOIN `bigquery-public-data.stackoverflow.posts_questions`
            AS question ON question.id = answer.parent_id
            WHERE question.tags LIKE '%bigquery%'"""
query_job2 = client.query(query2, project ='bigquerysqlexercises')

answers_table = query_job2.to_dataframe()
answers_table

             id  ... owner_user_id
0      58759989  ...     3226630.0
1      58764625  ...     1073129.0
2      58794254  ...     5828160.0
3      58808009  ...    10409068.0
4      58808090  ...     7742981.0
...         ...  ...           ...
21544  23682318  ...     1366527.0
21545  24073408  ...     1366527.0
21546  23705397  ...     1366527.0
21547  23945437  ...     1366527.0
21548  23686928  ...     1366527.0

[21549 rows x 3 columns]

### 3) `bigquery` expertise
We will write a new query that has a single row for each user who answered at least one question with a tag that includes the string "bigquery". The results should have two columns:
- `user_id` - contains the `owner_user_id` column from the `posts_answers` table
- `number_of_answers` - contains the number of answers the user has written to "bigquery"-related questions

In [6]:
query3 = """
         SELECT answer.owner_user_id AS user_id, COUNT(1) AS number_of_answers
         FROM `bigquery-public-data.stackoverflow.posts_answers` AS answer
         INNER JOIN `bigquery-public-data.stackoverflow.posts_questions` AS
         question ON question.id = answer.parent_id
         WHERE question.tags LIKE '%bigquery%'
         GROUP BY user_id"""
query_job3 = client.query(query3, project = 'bigquerysqlexercises')
bigquery_expert = query_job3.to_dataframe()
bigquery_expert

        user_id  number_of_answers
0     6823528.0                 25
1     7775111.0                  2
2     7676314.0                  1
3     6288114.0                  1
4     2790312.0                  6
...         ...                ...
4781  1048369.0                  2
4782  1902975.0                  1
4783  4890357.0                  1
4784   871134.0                  1
4785  1389394.0                  1

[4786 rows x 2 columns]

$\rightarrow$ With general ideas like this, we could write a function a return the most talented `user_id` for a specific field.